Handling of 0RTT upon fallback/Bad Salt

Upon fallback (PI), the draft currently says that the client sends an Initial with the fallback support that is part of the same connection, with the same CIDs. It is silent on the fate of any 0-RTT packets from that connection.

In VA, it's a new connection so the 0-RTT packets are dead.

There are some problems here:
- If the fallback client hello uses a different SNI or ALPN, it may not be decipherable by the server if the server didn't generate the ticket, or it might be inappropriate input for the new target application. We could just specify it's a new connection and sidestep these problems, like VA.

- In that case, we have potentially new 0-RTT packets, with the same sequence numbers. Is there a security risk here, or do the new CIDs in the AD imply different cipher text? If I read section 8.1 of RFC 8446 correctly, reusing a ticket can result in replay attacks but do not compromise the data confidentiality.

@DavidSchinazi suggested forbidding including the ticket in the second client hello, but this would appear to add yet another 1RTT penalty, which is less than optimal.

I do not completely understand the tradeoffs here, nor have I fully thought through all the use cases.

To clarify, I only suggested forbidding including the 0-RTT ticket identity if any part of the client hello was changed (such as the SNI or ALPN). In that scenario, the second connection only exists to get an updated ECHConfig so 0-RTT is irrelevant.

See https://github.com/tlswg/draft-ietf-tls-esni/issues/408 for the first person to realize this, in a TCP context.